<a href="https://colab.research.google.com/github/kineticKshitij/Machine-Learning-LAB/blob/main/Class_in_Python77.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Defining a class
class Car:
    # Constructor (__init__ method)
    def __init__(self, brand, model, year):
        self.brand = brand  # Attribute
        self.model = model  # Attribute
        self.year = year    # Attribute

    # Method to display car details
    def display_info(self):
        print(f"Car: {self.brand} {self.model} ({self.year})")

# Creating objects of the Car class
car1 = Car("Toyota", "Corolla", 2022)
car2 = Car("Tesla", "Model S", 2023)

# Accessing methods and attributes
car1.display_info()  # Output: Car: Toyota Corolla (2022)
car2.display_info()  # Output: Car: Tesla Model S (2023)

Car: Toyota Corolla (2022)
Car: Tesla Model S (2023)

In [4]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def get_annual_salary(self):
        return self.salary * 12

# Creating an object
emp = Employee("John", 5000)

print(f"Annual Salary of {emp.name}: {emp.get_annual_salary()}")

Annual Salary of John: 60000

In [5]:
class Student:
    def __init__(self, name, age, marks):
        self.name = name
        self.age = age
        self.marks = marks

    def display(self):
        print(f"Name: {self.name}, Age: {self.age}, Marks: {self.marks}")

# List of students
students = [
    Student("Alice", 20, 85),
    Student("Bob", 21, 90),
    Student("Charlie", 22, 88)
]

# Loop to display details
for student in students:
    student.display()

Name: Alice, Age: 20, Marks: 85
Name: Bob, Age: 21, Marks: 90
Name: Charlie, Age: 22, Marks: 88

https://tinyurl.com/classinpy

In [6]:
class Store:
    def __init__(self):
        self.inventory = {}

    def add_product(self, name, price):
        self.inventory[name] = price

    def display_products(self):
        for product, price in self.inventory.items():
            print(f"Product: {product}, Price: {price}")

# Creating Store object
shop = Store()
shop.add_product("Laptop", 50000)
shop.add_product("Mouse", 1000)
shop.add_product("Keyboard", 1500)

# Display products
shop.display_products()

Product: Laptop, Price: 50000
Product: Mouse, Price: 1000
Product: Keyboard, Price: 1500

In [7]:
class Employee:
    def __init__(self, emp_id, name, salary):
        self.emp_id = emp_id
        self.name = name
        self.salary = salary

# Dictionary of employees
employees = {
    101: Employee(101, "John", 50000),
    102: Employee(102, "Emma", 60000),
    103: Employee(103, "David", 55000)
}

# Display employee details
for emp_id, emp in employees.items():
    print(f"ID: {emp.emp_id}, Name: {emp.name}, Salary: {emp.salary}")

ID: 101, Name: John, Salary: 50000
ID: 102, Name: Emma, Salary: 60000
ID: 103, Name: David, Salary: 55000

In [8]:
class Classroom:
  def __init__(self,tables,benches,windows,doors,students):
    self.tables=tables
    self.benches=benches
    self.windows=windows
    self.doors=doors
    self.students=students
  def display(self):
    print(f"Tables: {self.tables}, Benches: {self.benches}, Windows: {self.windows}, Doors: {self.doors}, Students: {self.students}")
c=Classroom(40,40,3,4,50)
c.display()

Tables: 40, Benches: 40, Windows: 3, Doors: 4, Students: 50